body{
    overflow: hidden;
}

#toe {
    position: absolute;
    transition-property: left;
    transition-duration: 100ms;
    bottom: 0;
}

#water {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17px;
    background-color: #006994;
}